# -*- coding: utf-8 -*-
import os
from django.conf.settings import BASE_DIR


# Database configuration

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, 'db.sqlite3'),
    }
}
