# -*- coding: utf-8 -*-
import os
from django.conf.settings import BASE_DIR


# Static files configurations and directories

STATIC_URL = '/static/'
STATIC_ROOT = '/static/'
STATICFILES_DIRS = (os.path.join(BASE_DIR, "static"))
TEMPLATE_DIRS = (os.path.join(BASE_DIR, "templates"))
